body {
  background-color: rgb(244, 208, 78);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Figtree-medium";
}
@font-face {
  font-family: "Figtree-medium";
  src: url("../fonts/Figtree-Medium.ttf");
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border-radius: 15px;
  background-color: whitesmoke;
  border: 1px solid hsl(0, 0%, 0%);
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 200);
}
.svg-img {
  border-radius: 13px;
  width: 100%;
  display: block;
}
.tag {
  background-color: rgb(244, 208, 78);
  padding: 2%;
  width: 17%;
  border-radius: 5px;
}
.card-container {
  width: 360px;
}
.description {
  width: 100%;
  color: hsl(0, 0%, 56%);
}
.tag {
  font-weight: bold;
}
.date {
  font-size: small;
}
.profile {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  font-size: small;
  font-weight: bold;
  align-items: center;
}
